/*
Theme Name: Generic
Theme URI: https://generic.tools/
Author: Bryan Hadaway
Author URI: https://calmestghost.com/
Description: A fully responsive, SEO-friendly, jQuery-ready, and WordPress theme review guidelines compliant starter theme for designers and developers, which comes with its own built-in CSS grid (https://generic.tools/grid/). This generic/starter/clean/simple/bare/blank/minimalist/example/cheatsheet/white-label/HTML5/CSS3/base/foundation/framework/skeleton/boilerplate/whatever theme was created specifically as a tool to assist with building client sites virtually from scratch or building and submitting your own themes. It's updated to reflect new changes in theme review requirements, to make the process much easier with a higher level of success (some theme authors never make it through), but please post bugs, suggestions for improvement, or support requests on GitHub (https://github.com/bhadaway/generic-theme/issues) if you're getting jammed up on your review ticket. Note: the aim of the project is to meet WordPress guideline requirements, but not necessarily all of its recommendations. The biggest diversion would be the semi-minification of Generic's code. If you prefer the WordPress official coding standard (https://make.wordpress.org/core/handbook/best-practices/coding-standards/) or some other popular standard, you may download a free trial of PhpStorm (https://www.jetbrains.com/phpstorm/) or use some other code formatter/beautifier to automatically and instantly bulk format all the code to your liking. If I was able to help you out, consider making a donation (https://calmestghost.com/donate). Thank you and enjoy!
Version: 1.0
License: GNU General Public License v3 or Later
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, right-sidebar, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready, blog, e-commerce, portfolio
Text Domain: generic

Generic WordPress Theme © 2015-2018 GenericTools
Generic is distributed under the terms of the GNU GPL
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}a{text-decoration-skip-ink:auto}button{outline:0}
ol,ul{list-style:none}blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
q{display:inline;font-style:italic}q:before{content:'"';font-style:normal}
q:after{content:'"';font-style:normal}
textarea,input[type="text"],input[type="button"],input[type="submit"],input[type="reset"],input[type="search"],input[type="password"]{-webkit-appearance:none;appearance:none;}
table{border-collapse:collapse;border-spacing:0}
th,td{padding:2px}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:super}sub{vertical-align:sub}dd{margin-left:20px}kbd,tt{font-family:courier;font-size:12px}ins{text-decoration:underline}del,strike,s{text-decoration:line-through}dt{font-weight:bold}address,cite,var{font-style:italic}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}*{box-sizing:border-box;-webkit-tap-highlight-color:transparent}

body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;font-size:16px;color:#777;line-height:normal;word-wrap:break-word;background-color:#f6f6f6!important}

h1, h2, h3, h4, h5, h6{font-weight:bold;margin-bottom:30px}
h2, h3, h4, h5, h6{margin-top:40px}
h1{font-size:35px}
h2{font-size:30px}
h3{font-size:25px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
p{margin:30px 0}
/* .page #content p, .single-post #content p{font-size:18px;line-height:145%} */
* p:last-of-type, #sidebar .widget-container:last-child{margin-bottom:0}
a{transition:all 0.5s ease}
strong{font-weight:bold}
em{font-style:italic}
pre{overflow-x:auto;white-space:pre-wrap}
pre, code{font-family:'courier new',courier,serif}
hr{height:1px;border:0;margin:30px 0;background:#ccc}
blockquote{padding:15px;border-left:4px solid #ccc;margin:30px 0}
blockquote p:first-of-type{margin-top:0}
.entry-content ul, .widget-container ul, .comment-body ul, .entry-content ol, .widget-container ol, .comment-body ol{text-indent:-20px;margin:30px 0 30px 40px}
.entry-content ol, .widget-container ol, .comment-body ol{list-style:decimal inside;text-indent:-18px}
.entry-content ul ul, .widget-container ul ul, .comment-body ul ul, .entry-content ol ol, .widget-container ol ol, .comment-body ol ol{margin-top:0;margin-bottom:0}
.entry-content ul li:before, .widget-container ul li:before, .comment-body ul li:before{content:"— ";color:#cb03b6; font-weight: 800;}
.entry-content li, .widget-container li, .comment-body li{line-height:125%;margin:10px 0}
input, textarea{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;padding:7px;border:0;outline:0;margin-top:10px;background:#f6f6f6}
input[type="submit"], #menu .toggle:hover{cursor:pointer}
input[type="search"]{-webkit-appearance:textfield}
a img, input[type="image"]{border:0}
img, video, audio, table, select, textarea{max-width:100% !important;height:auto}
table{width:100%;margin:30px 0}

#wrapper{max-width:100%;margin:0 auto}
#container{background:#fff;padding-left: 10px;padding-right: 10px;}
#container:after{display:table;content:"";clear:both}
#content{width:100%;float:left}
#sidebar{width:25%;float:right}
#footer{clear:both}

#menu ul, #menu ul li{display:inline-block;margin:0;padding:0;list-style:none; line-height: 3;}
#menu ul li{position:relative;width: 140px;height:80px;text-align: center;}
#menu ul li a{display:inline-block;font-size:18px;color:#eb2ed5;text-decoration:none;line-height:33px;padding-bottom:10px;margin-top:-1px}
#menu ul li a:hover{color:#777;text-decoration:none}
#menu li ul{display:none;position:absolute;top:30px;left:0;z-index:1000}
#menu ul li:hover ul{display:inline-block}
#menu ul ul{display:none}
@media (min-width: 925px) and (max-width: 1027px) {
    #menu ul li:not(:nth-child(4)){
        width: 120px;
    }
}
@media (min-width: 768px) and (max-width: 925px) {
    #menu ul li:not(:nth-child(4)){
        width: 96px;
    }
}
@media (min-width: 768px){
    #menu ul li:nth-child(4){
        background: url(../../imagenes/Logo.png);
        background-repeat: no-repeat;
        height: 110px;
        background-position: center;
        background-size: 86%;
        background-color: #fff;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        border: 2px solid #ccc;
        border-top-color: #ffffff00;
    
    }
    #header{
        position: absolute;
    }
    #menu ul{
        height: 80px;
    }
    #menu ul li a{
        line-height: 75px!important;
    }
    #menu ul li:nth-child(4) a{
        color: #fff0;
        width: 135px;
        height: 110px;
    }
    #menu{
        border-bottom: 2px solid #ccc;

    }
    #container{
        padding-top: 80px;
        padding-left: 5%!important;
        padding-right: 5%!important;
        background: url(../../imagenes/FondoLibro.png);
    }
    .page-template-somos #container{
        padding-top: 132px;
    }    
    .blog #container{
        padding-top: 130px;
    }
}
#menu ul li:hover ul{display:block}
#menu ul li:hover ul li a{width:250px;font-size:14px;line-height:20px;padding:10px;border:1px solid #eee;background:#fff}
#menu .toggle{display:none;height:36px;color:#eb2ed5;text-align:center;line-height:32px}
.ios #menu .toggle{font-size:19px;line-height:36px}
#menu .menu-icon{position:relative;top:1px;font-size:22px;margin-right:2px}
.firefox #menu .menu-icon{top:0}

#search{float:right}
#search .search-field{width:200px;height:36px;padding:10px;margin-top:0;background-color:#fff}
.widget-container .search-field{width:100%}
.error404 .entry-content .search-field, .search .entry-content .search-field{width:200px;margin-top:30px}
.error404 .entry-content .search-field, .search .entry-content .search-field, .widget-container .search-field{background-color:#f6f6f6}
.search-field{background:url(images/find.png) no-repeat 98% center / 24px auto}

.button, button, input[type="submit"]{display:inline-block;font-size:18px;color:#fff;text-align:center;text-decoration:none;padding:10px 15px;border:0;background:#09f;opacity:0.9}
.button:hover, button:hover, input[type="submit"]:hover{cursor:pointer;opacity:1}
#site-title a{font-size:40px;font-weight:normal;color:#777;text-decoration:none;display:inline}
#site-title h1{margin-bottom:0}
.single h1.entry-title a{color: #ff6400;text-decoration:none}
h2.entry-title, h3.widget-title{margin-top:0; color:#44d8bd;font-size: 22px;}
#commentform label{display:block}
#commentform #comment{width:100%;max-width:400px !important;height:auto}
#comments .comment-author{line-height:14px}
#comments .comment-author img{margin-right:5px;float:left}
#comments .comment{margin:20px 10px}
#comments .comment-body{padding:15px}
#comments .odd > .comment-body{background:#f6f6f6}
#comments .comment-body > p{font-size:16px;margin:15px 0 0}
#copyright{text-align:center}
.entry-meta, .entry-footer, .archive-meta{margin:30px 0}
.entry-footer{clear:both}
#copyright, #copyright a, .entry-meta, .entry-meta a, .entry-footer, .entry-footer a, .comment-meta, .comment-meta a, .comment-author, .comment-author a{font-size:14px;color:#aaa}

.sticky{padding-bottom:60px;border-bottom:4px solid #ccc}
.bypostauthor{}
.post, .widget-container, .search article{margin-bottom:60px}
.post:last-of-type{margin-bottom:0}
.wp-caption{width:auto !important}
.wp-caption.aligncenter, .wp-caption-text, .gallery-caption{text-align:center}
.alignleft{margin:0 30px 30px 0;float:left}
.alignright{margin:0 0 30px 30px;float:right}
.aligncenter{display:block;margin:30px auto;clear:both}
.wp-post-image{display:block;margin-bottom:30px}
.entry-attachment img{display:block;margin:60px auto 30px}
.attachment .entry-caption{text-align:center}
.nav-links{margin-top:30px}
.nav-links a, #nav-above a{text-decoration:none}
#nav-above a{display:block;font-family:tahoma,sans-serif;font-size:50px;color:#777;line-height:0;margin:30px 0 15px}
.nav-previous{text-align:left;float:left}
.nav-next{text-align:right;float:right}

.note{display:block;font-size:14px;padding:20px;margin:30px 0}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
    float: left!important;
    width:60px!important;
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a{
    text-decoration: none;
}
.woocommerce .related{
    width:100%;
    clear:both;
}
.woocommerce-sidebar{
    padding: 0 15px; 
} 
.woocommerce-cart .container{
    margin-bottom: 20px;
}
.single-product .woocommerce-sidebar{
    margin-top: 32px;
}

.box, .box-2, .box-3, .box-4, .box-5, .box-6, .box-1-3, .box-2-3{display:inline-block;width:100%;padding:1%;border:1px solid #ccc;vertical-align:top;float:left}
.box-2{width:50%}
.box-3, .box-1-3{width:33.3333333%}
.box-4{width:25%}
.box-5{width:20%}
.box-6{width:16.6666667%}
.box-2-3{width:66.6666666%}

.left{text-align:left}
.center{text-align:center}
.right{text-align:right}
.float-left{float:left}
.float-right{float:right}
.clear{clear:both}
.clear-left{clear:left}
.clear-right{clear:right}
.clear-float:after, .boxes:after{display:table;content:"";clear:both}

@media all and (max-width:1024px){.box-5, .box-6{width:25%}.boxes .box-5:nth-child(5){width:100%}.boxes .box-6:nth-child(5), .boxes .box-6:nth-child(6){width:50%}}
@media all and (max-width:768px){#content, #sidebar{width:100%;padding:0}#menu{display:block!important}#menu.checked{width:100%;height:100%;bottom:0;overflow-x:hidden;overflow-y:auto;z-index:1000}#menu label.toggle{display:block}#menu{background:#777}#menu ul, #menu ul ul{display:none}#menu ul li{display: inline!important}#menu input.toggle:checked + div > ul, #menu input.toggle:checked + div > ul ul{display:block;position:relative;top:0;padding:0}#menu input.toggle:checked + div > ul{padding-bottom:10px}#menu input.toggle:checked + div > ul li a, #menu input.toggle:checked + div > ul ul li a{display:inline-block;width:100%;font-size:18px;color:#eb2ed5;line-height:20px;padding:15px 0 5px 5%;border:0;margin-right:0;background:none}#menu input.toggle:checked + div > ul ul li a{color:#ccc;margin-left:15px}.box-4, .box-5, .box-6{width:50%}}
@media all and (max-width:767px){.single .nav-links .nav-previous, .single .nav-links .nav-next{float:none}.box-3{width:50%}.boxes .box-3:nth-child(3){width:100%}
    .formulario {
        max-width: 100% !important;
    }
    .rey-c {
        width: 100px !important;
        left: -65px !important;
    }
}
@media all and (max-width:480px){.wp-caption, input, textarea, .button{width:100% !important}input[type="checkbox"], input[type="radio"]{width:auto !important}.box-2, .box-3, .box-4, .box-5, .box-6, .boxes .box-6:nth-child(5), .boxes .box-6:nth-child(6), .box-2-3, .box-1-3{width:100%}}

.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}
.form-allowed-tags, .search-submit{display:none !important}

@media print{#content{width:100%;color:#000;padding:0;margin:0;background:#fff;float:none}#header, #sidebar, #footer{display:none}}

#header{
    z-index:6;
    width: 100%;
}
#menu{
    background-color: #fff;
}
#menu{
    display: flex;
    justify-content: center;    
}
header h1{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    padding: 3%;    
}
.blog #content, .woocommerce #content{
    /*width: 75%; */
    padding: 0 5%;
}
.page-template-somos #content{
    display: flex;
    justify-content: center;
}
.page-template-somos .parrafo{
    text-align: center;
}

@media all and (min-width:800px){
    .blog #content, .woocommerce #content{
        width: 75%;
    }
}
.blog .entry-title a{
    color: #cb03b6;
}
.blog h3{
    color: #00dec3;
}
.blog #sidebar a, .blog .vcard a{
    text-decoration: none;
    color: #777;
}
.entry-title{
    color: #ff6400;
    font-size: 28px;
    margin-top: 52px;
    text-align: center;
}
.woocommerce-cart #content{
    margin-bottom: 60px;
    padding:0 5%;
}
.woocommerce .product h2{
    color: #ff6400;
    font-size: 26px;
   
}
.woocommerce .product h2{
    color: #777;
}
.woocommerce header .entry-title{
    color: #ff6400;
    font-size: 28px;
    font-weight: bold;
}
.woocommerce .product .amount{
    color: #cb03b6;
    font-weight: bold;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    color: #fff!important;
    background-color: #cb03b6!important;
    border-radius: 22px!important;
}
.woocommerce .orderby{
    background-color: white!important;
    color: #777!important;
    border-color: rgb(237, 237, 237)!important;
}
.seccion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}
.seccion .titulo{
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
}
.seccion .introduccion{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
@media (min-width:900px){
    .estrecho{
        width: 800px;    
    }

}
@media (max-width: 900px) {
    .estrecho {
        width: 90%;
    }
}
.marco{
    position: relative;
}
.adorno{
    position: absolute;
}
.titulo-pagina{
    width: 100%;
}
.titulo-pagina h1{
    text-align: center;
}
/* FOOTER*/
#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}
#footer .principe{
    margin-top: -25px;
    z-index: 2;
}
#footer .texto-contacto{
    width: 270px;    
}
#footer h2{
    font-size: 20px;
}
#footer .redes{
    width: 230px;
    display: flex;
    align-items: center;
}

#footer .logo{
    width: 120px;
    height: 120px;
}

.banner{
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 20px;
    height: 400px;

}
.libro input[type="text"]{
    color:#fff;
    background: #43dcbe;
    border-radius: 4px;
}

@media (max-width: 850px) {
    .banner {
        width: 500px;
        height: 300px;
    }
    .visualizador-libro {
        width: inherit;
        height: inherit;
    }
}

@media (max-width: 650px) {
    .banner{
        width: 90%!important;

    }
    .visualizador-libro{
        width: 100%!important;

    }
    .regalo-l{
        left: 0!important;
    }
    .adicionales{
        width: 90%!important;
    }
    .seccion .titulo{
        font-size: 26px;
    }
    .formulario {
        flex-wrap: wrap;
    }
    .formulario .texto{
        font-size: 22px;
        width: 100%;
        text-align: center!important;
    }
    .datos{
        height: 75px!important;
    }
    .generar{
        width: 115px;
    }
    .rey-c{
        left: -90px;
    }
    .gato-c{
        width: 70px;
    }
    .generar .texto{
        font-size: 16px;     
    }
    .video{
        height: 234px;   
        width: 400px;
    }
    .libro .textual .nombre{
        font-size: 20px;
    }
    #footer .redes{
        justify-content: space-evenly;
    }
    .lista-preguntas{
        margin: 0!important;
    }
}
@media (min-width: 650px) {
    .seccion .titulo{
        font-size: 35px;
    }
    .formulario {
        height: 140px;
    }
    .formulario .texto{
        font-size: 30px;
        width: 160px;
    }
    .generar{
        width: 160px;
    }
    .generar .texto{
        font-size: 24px;
    }
    .rey-c{
        left: -125px;
    }
    .video{
        height: 346px;   
        width: 600px;
    }
    .libro .textual .nombre{
        font-size: 26px;
    }
    #footer .redes{
        justify-content: space-between;
    }
}

.crear{
    display: flex;
    justify-content: center;
    width: 100%;
}
.crea-libro{
    background: url(../../imagenes/FondoInicio.png);
}
.crea-libro h1, .page-template-libro h1{
    color: #ff6400;
    font-size: 28px;
    font-weight: bold;
}
.crear .texto{
    text-align: center;
}
.rey-c{
    bottom: -7px;
}
.gato-c{
    right: -20px;
    bottom: 0;
    bottom: -7px;
}
#input-crea-libro{
    border-radius: 16px;
    background: #fff;
    height: 31px;
    margin-top: 0;
    width: 100%;
    color: #555;
}
.formulario{
    background-color: #ff6200;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
    max-width: calc(100% - 249px);
}
.formulario .texto{
    text-align: left;
    color: #fff;
}
.datos{
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.datos #nina{
    background-color:#eb2ed5;

}
.datos #nino{
    background-color: #00ade0;
}
.datos a{
    height: 30px;
    width: 60px;
    text-align: center;
    padding: 5px;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
}
.datos a:hover{
    color: rgb(255, 210, 21);
}
.generar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.generar .icono{

}
.generar .texto{
    width: 100px;
    text-align: left;
    line-height: 1;
    color: #fff;
}

/* Dale play*/
.dale-play{
    background: url(../../imagenes/DaleplayFondo.png);
}
.dale-play .titulo{
    color: #cb03b6;
}
.video{
    border: 10px solid #ff9800;
    border-radius: 20px;
}
.video .video-wrap{
    padding-top: 56.333%!important;
}
.video iframe{
    width: 100%;
    height: 100%;
}
.nina-d{
    right: 12%;
    bottom: 40px;
}
.unicornio-d{
    left: 12%;
    margin-bottom: auto;
    margin-top: auto;
    bottom: 0;
    top: 0;
    height: 169px;
}
.libros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.libros-interesantes{
    background: url(../../imagenes/LibrosFondo.png);
}
.libros-interesantes .titulo{
    color: #cb03b6;
}
.libro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
    
}
.libro .miniatura{
    width: 350px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
}
.libro .textual{
    width: 350px;
}
.libro .textual .nombre{
    color: orange;
    margin-top: 0;
}
.nina-l1{
    right: 6%;
    bottom: 0;
}
@media (min-width: 1000px) and (max-width: 1265px) {
    .nina-l1{
        right: 2%!important;
        width: 165px;        
    }
}

@media (max-width: 1000px) {
    .nina-l1 {
        right: 2%!important;
        height: 232px;
        width: 151px;
        margin-bottom: auto;
        margin-top: auto;
        top: 0;
    }
    .unicornio-d{
        left: 0!important;
        width: 100px;
    }
    .nina-d{
        width: 88px;
        right: 0!important;
    }
    .nino-t1, .nino-t2{
        width: 110px;
    }
    .nino-t1{
        left: 0!important;
    }
    .nino-t2{
        right: 0!important;
    }
    .testimonios{
        padding-bottom: 130px;
    }
    .regalo-l{
        left: 2%!important;
    }
    .castillo-l{
        display: none;
    }
}
/* Testimonios */
.testimonios{
    background: url(../../imagenes/DaleplayFondo.png);
}
.testimonios .titulo{
    color: #00dec3
}
@media (min-width: 800px) {
    .lista-testimonios{
        justify-content: space-between;
    }
    .nube-inter{
        bottom: -50px;
    }
    .nube-footer{
        top:-50px;
    }
}
@media (max-width: 800px) {
    .lista-testimonios{
        justify-content: center;
    }
    .testimonio{
        margin-left: 10px;
        margin-right: 10px;
    }
    .nino-t1{
        width: 80px;
    }
    .nino-t2{
        width: 80px;
    }
    .nube-inter{
        bottom: -20px;
    }
    .nube-footer{
        top:-30px;
    }
    .nube-inter img, .nube-footer img{
        height: 9vw;
    }
    .seccion .introduccion{
        padding: 0 20px;
    }

}

.lista-testimonios{
    display: flex;
    flex-wrap: wrap;
    margin: 65px 0;
}
.testimonio{
    border: 4px solid #cb03b6;
    border-radius: 20px;
    width:240px;
    height: 260px;
    position: relative;
    margin-top: 60px;
    padding-top:60px;
    background-color: #fff;
}
.testimonio .comentario{
    text-align: center;
}
.testigo{
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}
.foto-testigo{
    position: absolute;
    top:-60px;
    right: 60px;    
    width:120px;
    height: 120px;
    border: 4px solid #00dec3;
    border-radius: 60px;
    background-color: #fff;
}
.preguntas{
    display:flex;
    flex-wrap: wrap;  
    background-color: #00dec3;  
}
.preguntas .titulo{
    color: #fff;
}
.lista-preguntas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0;
}
.pregunta{
    width: 240px;
}
.pregunta .duda{
    text-align: center;
    color:#fff;
    font-size: 22px;
}
.pregunta .respuesta{
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
}
.nube-t1{
    right: 95%;
    bottom: -14px;
    width: 60px;
    height: 40px;
}
.nube-t2{
    right: 40%;
    bottom: -14px;
    width: 100px;
    height: 40px;
}
.nube-t3{
    right: 5%;
    bottom: -14px;
    width: 100px;
    height: 40px;
}
.nino-t1{
    left: 6%;
    bottom: 0px;

}
.nino-t2{
    right: 6%;
    bottom: 0px;
}
@media (max-width: 900px) {
    .rey-c {
        width: 160px;
    }
    .libro .textual{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .lista-preguntas{
        justify-content: space-around!important;
    }
    #footer h2{
        margin: 0!important;
    }

}
/* Nubes */

.nube-inter{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.nube-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}
/* Libro */
.subir{
    width: 100%;
    height: 132px;
    margin-bottom: 20px;
}

.subir .imagen-ref{
    width: 272px;
    height: 132px;
    right: 0;
    top:0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}
.subir .imagen-ref .imagen-1{
    width: 72px;
    height: 72px;
    right: 200px;
    top: 36px;
    border: 3px solid #ad5ab1;
    border-radius: 50%;
    background-color: white;
}
.subir .imagen-ref .imagen-2{
    width: 120px;
    height: 120px;
    right: 102px;
    bottom: 12px;
    background-color: white;
    border: 3px solid #ad5ab1;
    border-radius: 50%;
}
.subir .imagen-ref .camara{
    width: 48px;
    height: 48px;
    right: 90px;    
    bottom: 0;
}
.subir .descrip{
    right: 0;
    bottom: 30px;
}
.linea{
    bottom: 43px;
    right: 38px;
}

.adicionales{
    box-shadow: #a5a5a5 0px 1px 12px 1px;    
    padding: 35px 32px 25px 32px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 430px;
    background-color: #fff;
}
form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
form #ordenar, form #modificar{
    width: 110px;
    color: #fff;
    margin-top: 21px;
    height: 35px;
    text-align: center;
    line-height: 1.6;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    background-color: #ca60b6;
    cursor: pointer;
}
.campo{
    width: 100%;
}
.campo p{
    color:#43dcbe;
    font-weight: bold;
    margin: 14px 0 0 0;
    font-size: 18px;
}
.campo input{
    width: 100%;
}
.adicionales h1{
    margin-bottom: 0;
}
.adicionales .parrafo{
    text-align: center;
}
.vis-libro{
    background: url(../../imagenes/FondoLibro.png);
}
.visualizador-libro{
    background-color: rgba(255,255,255,0);
    z-index: 2;
}

.castillo-l{
    right: 0;
}
.regalo-l{
    margin-top: auto;
    left: 9%;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    height: 130px;
}
.unicornio-l{
    left: 0;
    top:10px;
}
/*HESER LIBRO*/


body.page-template-libro{
    min-width: 500px;
}
.modal-body .text-center{
    z-index: 2;
}
.wrapp-btn-mod{
    text-align: center;
    z-index: 1;
}
.vanilla-rotate{
    display: inline-block;
    cursor: pointer;
}
.rotar-img{
    width: 30px;
}
.rotar-izq{
    transform: rotateY(180deg);
}
@media (max-width: 806px) {
    .texto-agregar {
        font-size: 6.86px !important;
    }
    .first-letter{
        font-size: 16.14px !important;
        line-height: 18.56px !important;
    }
    #p1-1 {
        font-size: 24.21px !important;
    }
    #p2-2{
        font-size: 9.68px !important;
    }
    
    #p5-1-2, #p6-1-2, #p6-1-3, #p7-1-2, #p7-1-3, #p7-1-4, #p8-1-2, #p8-1-3, #p8-1-4, #p9-1-2, #p9-1-3, #p10-1-2, #p10-1-3{
        margin-top: 9.68px !important;
    }    
    .libro-estado-txt{
        font-size: 14px !important;
    }
}
.subir-foto-wrapp{
   text-align: center; 
}
.campo textarea{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    color: #fff;
    background: #43dcbe;
    width: 100%;
    font-weight: bold;
}
.bootstrap-datetimepicker-widget .list-unstyled {
    text-indent: inherit;
    text-align: center;
}
.bootstrap-datetimepicker-widget table td span.active {
    background-color: rgb(67, 220, 190) !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: rgb(67, 220, 190) !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget{
    background-color: #fff !important;
}
#fecha-formcont-wrapp{
    margin-bottom: -20px;
}
#fecha-formcont-wrapp input{
    width: 100%;
    display: inline-block;
}

.libro-img {
   /* background-color: #fff;*/
}
.croppie-container .cr-viewport, .croppie-container .cr-resizer {
    box-shadow: 0 0 2000px 2000px #fff!important;
}
#uploadimageModal3 .croppie-container .cr-viewport, #uploadimageModal3 .croppie-container .cr-resizer, #uploadimageModal2 .croppie-container .cr-viewport, #uploadimageModal2 .croppie-container .cr-resizer {
    box-shadow: 0 0 2000px 2000px rgb(249, 210, 173)!important;
}
.btn-group-vertical .btn-sub-fotomd:first-child{
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}
.btn-group-vertical .btn-sub-fotomd:last-child{
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
}
.btn-sub-fotomd, .crop_image{
    background-color: #ca60b6;
    color: #fff;
    transition:all 0.5s ease;
    border: 1px solid #af5c9f!important;
}
.btn-sub-fotomd:hover, .btn-sub-fotomd:focus, .crop_image:hover, .crop_image:focus{
    background-color: #af5c9f;
    color: #fff!important;
}
.adicionales form .btn-form-mod{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CAPUCHAS*/
.img-cropp-imgdel {
    position: absolute;
    z-index: 4;
    width: 100%;
    text-align: center;
    pointer-events: none;
    overflow: hidden;
    height: 389px;
    top: 8px;
    left: 7px;
}
.img-cropp- imgcrp-nino {
    height: 389px;
    top: 8px;
    left: 7px;
}
.img-cropp- imgcrp-nina {
    height: 389px;
    top: 8px;
    left: 7px;
}
.img-cropp- imgcrp-madre {
    height: 389px;
    top: 8px;
    left: 7px;
}
.img-cropp- imgcrp-padre {
    height: 389px;
    top: 8px;
    left: 7px;
}
.img-cropp-imgdel img {
    width: 260px;
    z-index: 30;
    pointer-events: none;
}

/*END CAPUCHAS*/

/*IMAGENES DE PLANTILLAS*/

#imga-3-castillos{
    width: 36%;
    left: 50%;
    top: 45.5%;
    transform: translateX(-50%);
}
#imga-4-candelabro{
    width: 59%;
    left: 55%;
    top: 0;
    transform: translateX(-50%);
}
#imga-5-regalo{
    width: 34%;
    left: 14%;
    top: 60%;
}
#imga-6-unirev{
    width: 18%;
    left: 14%;
    top: 67%;
}
#imga-7-buho{
    width: 18%;
    left: 69%;
    top: 10%;
    transform: rotateY(180deg);
}
#imga-8-drag-rev{
    width: 21%;
    left: 18%;
    top: 8%;
    transform: rotateY(180deg) rotateZ(-48deg);
}
#imga-9-unider{
    width: 36%;
    left: 55%;
    top: 55%;
}
#imga-10-mesa{
    width: 37%;
    left: 50%;
    top: 60.5%;
    transform: translateX(-50%);
}
#p11-1 {
    width: 100%;
    top: 9%;
    margin: 0 auto;
    text-align: center;
}
#p11-1-1 {
    width: 69%;
    margin: 0 auto;
    font-size: 1.6vw;
}
/*END IMAGENES DE PLANTILLAS*/

/*END HESER LIBRO*/