@font-face {
    font-family: "itckrist";
    src: url("../../fonts/ITCKRIST.TTF");
}
@font-face {
    font-family: "skater";
    src: url("../../fonts/Skater Girls Rock.ttf");
}
.tit-cert-canvas{
    padding: 25px 0;
    font-size: 20px;
    font-weight: bold;
}
.fila-certificado-canvas{
    margin-bottom: 25px;
}
.certificados-estado{
    
}
.progress{
    width: 350px;
    background-color: rgb(200,200,200);
    background-image: -webkit-linear-gradient(top,#ebebeb 0,rgb(200,200,200) 100%);
    background-image: -o-linear-gradient(top,#ebebeb 0,rgb(200,200,200) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(rgb(200,200,200)));
    background-image: linear-gradient(to bottom,#ebebeb 0, rgb(200,200,200) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    background-repeat: repeat-x;
}
/*GENERAR CERTIFICADOS*/
.canvas-cert-inn{
    width: 2363px;
    height: 2363px;
    padding: 0;
    margin: 0;
    position: relative;
}
.cert-inn-fila{
    position: relative;
}
.descargar-cert{
    cursor: pointer;
}
.formato-inn h2{
    font-size: 16px;
}
.ult-listcert-msg, .dwn2-cert, .cargar-nuev-cert{
    margin-top: 15px;
}
.paso2-msg{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 15px;
}
/*END GENERAR CERTIFICADOS*/

/*END MODAL RECUPERAR CODIGO*/


/*TEXTOS*/
.texto-agregar{
    font-family: "itckrist";
    min-width: 0;
    position: absolute;
    font-size: 65px;
    z-index: 3;
}
.first-letter{
    font-size: 153px;
    line-height: 176px;
    float: left;
}
#p1-1{
    width: 100%;
    top: 18%;
    font-size: 230px;
    text-align: center;
    font-family: "skater";
    color: rgb(119,64,153);
}
.p1-1-ing{
    top: 6%!important;
}
#p1-1-2{
    
}
#p1-2{
    width: 54%;
    left: 16%;
    top: 32%;
}
#p2-0{
    width: 100%;
    top: 42%;
    margin: 0 auto;
    text-align: center;
}
#p2-01{
    width: 95%;
    top: 42%;
    margin: 0 auto;
    text-align: center;
}
#p2-0-1{
    width: 75%;
    margin: 0 auto;
}
#p2-1{
    width: 100%;
    top: 84%;
    margin: 0 auto;
    text-align: center;
}
#p2-1-1{
    width: 75%;
    margin: 0 auto;
}
#p2-2{
    width: 100%;
    top: 18%;
    font-size: 92px;
    margin: 0 auto;
    text-align: center;
}
#p2-3{
    width: 100%;
    top: 24%;
    margin: 0 auto;
    text-align: center;
}
#p2-3-1{
    width: 41%;
    margin: 0 auto;
}
#p3-1{
    width: 100%;
    top: 8%;
    margin: 0 auto;
    text-align: left;
}
#p3-1-1{
    width: 68%;
    margin: 0 auto;
}
#p4-1{
    width: 100%;
    top: 52%;
    margin: 0 auto;
    text-align: left;
}
#p4-1-1{
    width: 73%;
    margin: 0 auto;
}
#p5-1{
    width: 100%;
    top: 9%;
    margin: 0 auto;
    text-align: left;
}
#p5-1-1{
    width: 69%;
    margin: 0 auto;
}
#p5-1-2{
    width: 69%;
    margin: 0 auto;
    margin-top: 92px;
}
#p6-1{
    width: 100%;
    top: 9%;
    margin: 0 auto;
    text-align: left;
}
#p6-1-1{
    width: 72%;
    margin: 0 auto;
}
#p6-1-2{
    width: 72%;
    margin: 0 auto;
    margin-top: 92px;
}
#p6-1-3{
    width: 72%;
    margin: 0 auto;
    margin-top: 92px;
}
#p7-1{
    width: 100%;
    top: 40%;
    margin: 0 auto;
    text-align: left;
    color: #fff;
}
#p7-1-1{
    width: 72%;
    margin: 0 auto;
}
#p7-1-2{
    width: 72%;
    margin: 0 auto;
    margin-top: 92px;
}
#p7-1-3{
    width: 72%;
    margin: 0 auto;
    margin-top: 92px;
}
#p7-1-4{
    width: 72%;
    margin: 0 auto;
    margin-top: 92px;
}
#p8-1{
    width: 100%;
    top: 33%;
    margin: 0 auto;
    text-align: left;
    color: #fff;
}
#p8-1-1{
    width: 68%;
    margin: 0 auto;
}
#p8-1-2{
    width: 68%;
    margin: 0 auto;
    margin-top: 92px;
}
#p8-1-3{
    width: 68%;
    margin: 0 auto;
    margin-top: 92px;
}
#p8-1-4{
    width: 68%;
    margin: 0 auto;
    margin-top: 92px;
}
#p9-1{
    width: 100%;
    top: 10%;
    margin: 0 auto;
    text-align: left;
}
#p9-1-1{
    width: 69%;
    margin: 0 auto;
}
#p9-1-2{
    width: 69%;
    margin: 0 auto;
    margin-top: 92px;
}
#p9-1-3{
    width: 69%;
    margin: 0 auto;
    margin-top: 92px;
}
#p10-1{
    width: 100%;
    top: 10%;
    margin: 0 auto;
    text-align: left;
}
#p10-1-1{
    width: 69%;
    margin: 0 auto;
}
#p10-1-2{
    width: 69%;
    margin: 0 auto;
    margin-top: 92px;
}
#p10-1-3{
    width: 69%;
    margin: 0 auto;
    margin-top: 92px;
}
#p11-1 {
    width: 100%;
    top: 9%;
    margin: 0 auto;
    text-align: center;
}
#p11-1-1 {
    width: 69%;
    margin: 0 auto;
    font-size: 122.67px;
}
#p12-1{
    width: 100%;
    top: 63.7%;
    text-align: center;
    color: rgb(119,64,153);
}
/*END TEXTOS*/

/*IMAGENES*/
canvas{
    position: relative;
    z-index: 1;
}
.libro-img-ade{
    position: absolute;
    z-index: 5;
    min-width: 0;
}

.libro-img-atras{
    position: absolute;
    z-index: 0;
    min-width: 0;
}

#imga-0-1{
    width: 8.3%;
    left: 69.8%;
    z-index: 0;
    top: 39.2%;
    transform: rotateZ(-7deg);
}
#imga-0-1-ing{
    width: 8.3%;
    left: 69.7%;
    z-index: 0;
    top: 39.7%;
    transform: rotateZ(-7deg);
}

#imga-0-1-solapas{
    width: 5.7%;
    left: calc(69.8% - 436px);
    z-index: 0;
    top: 39.6%;
    transform: rotateZ(-7deg);
}
#imga-1-1{
    width: 13%;
    left: 23%;
    top: 33%;
    transform: rotateZ(-13deg);
}
#imga-2-1{
    width: 37%;
    left: 32%;
    top: 18%;
}
#imga-3-1{
    width: 42%;
    left: 26%;
    top: 20%;
}
#imga-4-1{
    width: 16%;
    left: 62.4%;
    top: 32.4%;
    transform: rotateZ(-5deg);
}
#imga-5-1{
    width: 14.7%;
    left: 30.5%;
    top: 36.6%;
    transform: rotateZ(0deg);
}
#imga-5-2{
    width: 14.4%;
    left: 50.9%;
    top: 35.9%;
    transform: rotateZ(0deg);
}
#imga-6-1{
    width: 15.8%;
    left: 24%;
    top: 25.3%;
    transform: rotateZ(3deg);
}
#imga-7-1{
    width: 15.8%;
    left: 22.2%;
    top: 32.2%;
    transform: rotateZ(0deg);
}
#imga-8-1{
    width: 15.9%;
    left: 39%;
    top: 19.6%;
    transform: rotateZ(-11deg);
}
#imga-9-1{
    width: 15.9%;
    left: 23.7%;
    top: 13.2%;
    transform: rotateZ(-7deg);
}
#imga-10-1{
    width: 11%;
    left: 13.5%;
    top: 27.4%;
    transform: rotateZ(-11deg);
}
#imga-11-1{
    width: 13.2%;
    left: 44.8%;
    top: 32%;
    transform: rotateZ(4deg);
}
#imga-11-2{
    width: 11%;
    left: 62.9%;
    top: 37.2%;
    transform: rotateZ(-7deg);
}
#imga-11-3{
    width: 12.8%;
    left: 77.5%;
    top: 33.6%;
    transform: rotateZ(-4deg);
}
/*END IMAGENES*/


/*IMAGENES DE PLANTILLAS*/

#imga-3-castillos{
    width: 36%;
    left: 50%;
    top: 45.5%;
    transform: translateX(-50%);
}
#imga-4-candelabro{
    width: 59%;
    left: 55%;
    top: 0;
    transform: translateX(-50%);
}
#imga-5-regalo{
    width: 34%;
    left: 14%;
    top: 60%;
}
#imga-6-unirev{
    width: 18%;
    left: 14%;
    top: 70%;
    z-index: 1;
}
#imga-7-buho{
    width: 18%;
    left: 69%;
    top: 10%;
    transform: rotateY(180deg);
}
#imga-8-drag-rev{
    width: 21%;
    left: 18%;
    top: 8%;
    transform: rotateY(180deg) rotateZ(-48deg);
}
#imga-9-unider{
    width: 36%;
    left: 55%;
    top: 55%;
}
#imga-10-mesa{
    width: 37%;
    left: 50%;
    top: 60.5%;
    transform: translateX(-50%);
}
/*END IMAGENES DE PLANTILLAS*/
