@font-face {
    font-family: "itckrist";
    src: url("../../fonts/ITCKRIST.TTF");
}
@font-face {
    font-family: "skater";
    src: url("../../fonts/Skater Girls Rock.ttf");
}
@font-face {
    font-family: "holaHolo";
    src: url("../../fonts/Holaholo.otf");
}
.tit-cert-canvas{
    padding: 25px 0;
    font-size: 20px;
    font-weight: bold;
}
.fila-certificado-canvas{
    margin-bottom: 25px;
}
.certificados-estado{
    
}
.progress{
    width: 350px;
    background-color: rgb(200,200,200);
    background-image: -webkit-linear-gradient(top,#ebebeb 0,rgb(200,200,200) 100%);
    background-image: -o-linear-gradient(top,#ebebeb 0,rgb(200,200,200) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(rgb(200,200,200)));
    background-image: linear-gradient(to bottom,#ebebeb 0, rgb(200,200,200) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    background-repeat: repeat-x;
}
/*GENERAR CERTIFICADOS*/
.canvas-cert-inn{
    width: 2363px;
    height: 2363px;
    padding: 0;
    margin: 0;
    position: relative;
}
.cert-inn-fila{
    position: relative;
}
.descargar-cert{
    cursor: pointer;
}
.formato-inn h2{
    font-size: 16px;
}
.ult-listcert-msg, .dwn2-cert, .cargar-nuev-cert{
    margin-top: 15px;
}
.paso2-msg{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 15px;
}
/*END GENERAR CERTIFICADOS*/

/*END MODAL RECUPERAR CODIGO*/


/*TEXTOS*/
.texto-agregar{
    min-width: 0;
    position: absolute;
    font-size: 55px !important;
    font-family: "holaHolo";
    z-index: 3;
    color: rgb(79, 0, 0);
    -webkit-text-stroke: 1px rgba(255,255,255,0.2)
}
.first-letter{
    font-size: 2vw;
    line-height: 2.3vw;
    float: left;
}

#p1-1{
    width: 100%;
    top: 21%;
    left: -19%;
    font-size: 158px !important;
    text-align: center;
    font-family: "holaHolo";
    line-height: 205px !important;
    -webkit-text-stroke: 1px rgba(255,255,255,1);
}
#p1-1-ing{
    width: 100%;
    top: 13%;
    left: 11%;
    font-size: 158px !important;
    text-align: left;
    font-family: "holaHolo";
    line-height: 205px !important;
    -webkit-text-stroke: 1px rgba(255,255,255,1);
}
#p1-2{
    width: 100%;
    top: 33%;
    left: 0%;
    font-size: 150px !important;
    text-align: center;
    font-family: "holaHolo";
    -webkit-text-stroke: 1px rgba(255,255,255,1);
    line-height: 205px;
}
#p1-2-ing{
    width: 100%;
    top: 26%;
    left: 0%;
    font-size: 142px !important;
    text-align: center;
    font-family: "holaHolo";
    -webkit-text-stroke: 1px rgba(255,255,255,1);
    line-height: 205px;
}
#p1-3-ing{
    width: 100%;
    top: 55%;
    left: 0%;
    font-size: 95px !important;
    text-align: center;
    font-family: "holaHolo";
    line-height: 158px;
}
#p2-01{
    width: 70%;
    top: 70%;
    margin: 0 auto;
    font-size: 79px;
    text-align: center;
}
#p2-0-1{
    width: 70%;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    font-size: 79px;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    padding: 40px;
}
#p3-1{
    width: 70%;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    font-size: 68px;
    text-align: center;
}
#p3-1-1{
    width: 70%;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    font-size: 69px;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    padding: 40px;
}

#p4-1{
    width: 100%;
    top: 9%;
    margin: 0 auto;
    font-size: 79px;
    text-align: center;
}
#p4-1-1{
    width: 79%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);
    padding: 40px;
}
#p4-2{
    width: 100%;
    top: 9%;
    margin: 0 auto;
    text-align: center;
    -webkit-text-stroke: inherit;
}
#p4-2-1{
    width: 69%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);
    padding: 40px;
}
#p5-1{
    width: 100%;
    top: 73%;
    margin: 0 auto;
    text-align: left;
}
#p5-1-1{
    width: 54%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p5-2{
    width: 87%;
    top: 5%;
    margin: 0 auto;
    text-align: left;
}
#p5-2-1{
    width: 67%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p5-3{
    width: 141%;
    top: 60%;
    margin: 0 auto;
    text-align: left;
}
#p5-3-1{
    width: 22%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p6-1{
    width: 128%;
    top: 73%;
    margin: 0 auto;
    text-align: left;
}
#p6-1-1{
    width: 30%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p6-2{
    width: 100%;
    top: 66%;
    margin: 0 auto;
    text-align: center;
}
#p6-2-1{
    width: 69%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p7-1{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p7-1-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p7-2{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p7-2-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p8-1{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p8-1-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p8-2{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p8-2-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p8-3{
    width: 32%;
    top: 53%;
    left: 8%;
    margin: 0 auto;
    text-align: center;
}
#p8-3-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}


#p9-1{
    width: 32%;
    top: 5%;
    left: 65%;
    margin: 0 auto;
    text-align: center;
}
#p9-1-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p9-2{
    width: 100%;
    top: 73%;
    margin: 0 auto;
    text-align: center;
}
#p9-2-1{
    width: 69%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p9-3{
    width: 73%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p9-3-1{
    width: 68%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p9-4{
    width: 100%;
    top: 78%;
    margin: 0 auto;
    text-align: center;
}
#p9-4-1{
    width: 84%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p10-1{
    width: 100%;
    top: 71%;
    margin: 0 auto;
    text-align: center;
}
#p10-1-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p10-2{
    width: 65%;
    top: 12%;
    margin: 0 auto;
    text-align: center;
}
#p10-2-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p11-1{
    width: 100%;
    top: 5%;
    margin: 0 auto;
    text-align: center;
}
#p11-1-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
    font-size: inherit;
}
#p11-2{
    width: 68%;
    left: 31%;
    top: 66%;
    margin: 0 auto;
    text-align: center;
}
#p11-2-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p11-3{
    width: 100%;
    top: 74%;
    margin: 0 auto;
    text-align: center;
}
#p11-3-1{
    width: 85%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p12-1{
    width: 69%;
    top: 4%;
    margin: 0 auto;
    text-align: center;
}
#p12-1-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p12-2{
    width: 41%;
    top: 8%;
    margin: 0 auto;
    text-align: center;
}
#p12-2-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p13-1{
    width: 100%;
    top: 5%;
    margin: 0 auto;
    text-align: center;
}
#p13-1-1{
    width: 83%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p13-2{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p13-2-1{
    width: 88%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p14-1{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p14-1-1{
    width: 76%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p14-2{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p14-2-1{
    width: 93%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p14-3{
    width: 67%;
    top: 21%;
    margin: 0 auto;
    text-align: center;
}
#p14-3-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p14-4{
    width: 74%;
    left: 31%;
    top: 71%;
    margin: 0 auto;
    text-align: center;
}
#p14-4-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p15-1{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p15-1-1{
    width: 87%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p15-2{
    width: 67%;
    left: 36%;
    top: 45%;
    margin: 0 auto;
    text-align: center;
}
#p15-2-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p15-3{
    width: 100%;
    top: 73%;
    margin: 0 auto;
    text-align: center;
}
#p15-3-1{
    width: 81%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p15-4{
    width: 64%;
    left: 36%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p15-4-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p15-5{
    width: 100%;
    top: 76%;
    margin: 0 auto;
    text-align: center;
}
#p15-5-1{
    width: 57%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p16-1{
    width: 100%;
    top: 71%;
    margin: 0 auto;
    text-align: center;
}
#p16-1-1{
    width: 47%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p16-2{
    width: 88%;
    top: 45%;
    margin: 0 auto;
    text-align: center;
}
#p16-2-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p17-1{
    width: 100%;
    top: 54%;
    margin: 0 auto;
    text-align: center;
}
#p17-1-1{
    width: 66%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p17-2{
    width: 53%;
    top: 5%;
    margin: 0 auto;
    text-align: center;
}
#p17-2-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p17-3{
    width: 95%;
    top: 69%;
    left: 11%;
    margin: 0 auto;
    text-align: center;
}
#p17-3-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p18-1{
    width: 83%;
    left: 22%;
    top: 5%;
    margin: 0 auto;
    text-align: center;
}
#p18-1-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p18-2{
    width: 100%;
    top: 75%;
    margin: 0 auto;
    text-align: center;
}
#p18-2-1{
    width: 76%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p18-3{
    width: 79%;
    top: 4%;
    margin: 0 auto;
    text-align: center;
}
#p18-3-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p19-1{
    width: 100%;
    top: 75%;
    margin: 0 auto;
    text-align: center;
}
#p19-1-1{
    width: 61%;
    margin: 0 auto;
    margin-top: 95px;
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
}
#p19-2{
    width: 100%;
    top: 7%;
    margin: 0 auto;
    text-align: center;
    font-size: 95px !important;
    color: #000;
}
#p19-2-1{
    width: 61%;
    margin: 0 auto;
    margin-top: 95px;
    padding: 40px;
}
#p20-1{
    width: 50%;
    top: 67%;
    margin: 0 auto;
    text-align: center;
    font-size: 47px !important;
    color: #fdf5e7;
    -webkit-text-stroke: initial;
    font-family: holaholo;
}
/*END TEXTOS*/

/*IMAGENES*/
canvas{
    position: relative;
    z-index: 1;
}
.libro-img-ade{
    position: absolute;
    z-index: 5;
    min-width: 0;
}

.libro-img-atras{
    position: absolute;
    z-index: 0;
    min-width: 0;
}
#imga-retra-nin {
    width: 44%;
    left: 13%;
    top: 58.3%;
}

#imga-0-1 {
    width: 11.9%;
    left: 80.9%;
    z-index: 0;
    top: 28.6%;
    transform: rotateZ(0deg);
}
#imga-3-2 {
    width: 23.1%;
    left: 72.4%;
    z-index: 0;
    top: 68.3%;
    transform: rotateZ(0deg);
}
#imga-4-2{
    width: 23.5%;
    left: 26.8%;
    top: 52.2%;
    transform: rotateZ(12deg);
}
#imga-6-1{
    width: 33.3%;
    left: 9.9%;
    top: 45.5%;
    transform: rotateZ(2deg);
}
#imga-6-2{
    width: 22.6%;
    left: 8.3%;
    top: 29.2%;
    transform: rotateZ(5deg);
}
#imga-7-1{
    width: 33.4%;
    left: 23.3%;
    top: 26.5%;
    transform: rotateZ(2deg);
}
#imga-7-2{
    width: 34.4%;
    left: 24.6%;
    top: 29.3%;
    transform: rotateZ(1deg);
}
#imga-8-2{
    width: 33.3%;
    left: 53.7%;
    top: 35.7%;
    transform: rotateZ(2deg);
}
#imga-10-1{
    width: 35.2%;
    left: 48.8%;
    top: 25.8%;
    transform: rotateZ(4deg);
}
#imga-10-2{
    width: 17.1%;
    left: 80.7%;
    top: 21.1%;
    transform: rotateZ(-17deg);
}
#imga-11-2{
    width: 17.3%;
    left: 32.7%;
    top: 11.4%;
    transform: rotateZ(3deg);
}
#imga-12-2{
    width: 27.3%;
    left: 32.5%;
    top: 57.9%;
    transform: rotateZ(3deg);
}
#imga-13-2{
    width: 32.9%;
    left: 23.5%;
    top: 33.8%;
    transform: rotateZ(2deg);
}
#imga-14-1{
    width: 33.1%;
    left: 55.9%;
    top: 23.8%;
    transform: rotateZ(0deg);
}
#imga-14-2{
    width: 31.5%;
    left: 10.8%;
    top: 54.2%;
    transform: rotateZ(-21deg);
}
#imga-14-3{
    width: 18.5%;
    left: 73.8%;
    top: 42.3%;
    transform: rotateZ(3deg);
}
#imga-15-2{
    width: 34.8%;
    left: 64.6%;
    top: 40.8%;
    transform: rotateZ(-11deg);
}
#imga-16-2{
    width: 11.8%;
    left: 81.4%;
    top: 43.7%;
    transform: rotateZ(-19deg);
}
#imga-17-2{
    width: 23.3%;
    left: 12.8%;
    top: 40.1%;
    transform: rotateZ(1deg);
}
#imga-18-1{
    width: 29.3%;
    left: 61.9%;
    top: 38.3%;
    transform: rotateZ(15deg);
}
#imga-18-2{
    width: 32.6%;
    left: 17.6%;
    top: 33.0%;
    transform: rotateZ(2deg);
}
#imga-19-1{
    width: 30.4%;
    left: 31.8%;
    top: 48.7%;
    transform: rotateZ(1deg);
}
#imga-3-m{
    width: 22.7%;
    left: 51.9%;
    top: 41.9%;
    transform: rotateZ(2deg);
}
#imga-5-m{
    width: 32.7%;
    left: 37.4%;
    top: 33.9%;
    transform: rotateZ(-3deg);
}
#imga-19-m{
    width: 27.6%;
    left: 1.1%;
    top: 20.8%;
    transform: rotateZ(0deg);
}
#imga-3-p{
    width: 17.6%;
    left: 33.7%;
    top: 33.1%;
    transform: rotateZ(2deg);
}
#imga-5-p{
    width: 25.2%;
    left: 14.2%;
    top: 20.0%;
    transform: rotateZ(5deg);
}
#imga-18-p{
    width: 16.9%;
    left: 77.3%;
    top: 11.1%;
    transform: rotateZ(-2deg);
}
/*END IMAGENES*/
