@font-face {
    font-family: "itckrist";
    src: url("../fonts/ITCKRIST.TTF");
}
@font-face {
    font-family: "skater";
    src: url("../fonts/Skater Girls Rock.ttf");
}
@font-face {
    font-family: "holaHolo";
    src: url("../fonts/Holaholo.otf");
}
/*THUMBNAILS VISUALIZADOR DE LIBRO*/
.thumbs-wrapper{
    text-align: center;
    padding: 10px;
}
.thumb-wrapp{
    cursor: default;
    display: inline-block;
    padding: 2px;
    position: relative;
}
.thumb-wrapp .thumb-img-wrapp, .thumb-wrapp .thumb-imgselo-wrapp{
    cursor: pointer;
    border: 2px solid rgba(255,255,255,0);
    border-radius: 8px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    width: 39px;
    display: block;
    margin: 0 auto;
}
.thumb-wrapp .thumb-img-wrapp:hover{
    border: 2px solid rgba(0,128,0,0.5);
}
.thumb-wrapp .thumb-imgselo-wrapp:hover{
    border: 2px solid rgba(51,122,183,1);
}
.thumb-wrapp:hover .thumb-img-others{
    display: inherit;
}
.thumb-img-wrappselect{
    border: 2px solid rgba(0,128,0,1) !important;
}
.thumb-letra{
    font-size: 16px;
}
.thumb-img{
    width: 35px;
}
.thumb-imgo-head{
    text-transform: uppercase;
     font-weight: bold;
    color: rgba(0,128,0,1);
}
.thumb-imgselo{
    width: 35px;
}
.thumb-img-others{
    display: none;
    position: absolute;
    top: 75px;
    left: -45px;
    right: -45px;
    background-color: #eee;
    border-radius: 8px;
    z-index: 5;
    padding: 5px;
    
}
.thumb-img-others:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #eee;
	border-top: 0;
	margin-left: -20px;
	margin-top: -13px;
}
.thumb-imgob-wrpp{
    text-align: center;
}
/*END THUNBNAILS VISUALIZADOR DE LIBRO*/

/*VISUALIZADOR DE LIBRO*/
.libro-estado-wrapp{
    text-align: center;
    font-size: 2vw;
    text-align: center;
    font-family: "skater";
    color: rgb(119,64,153);
    width: 100vw;
    margin: 0 auto;
}



.libro-wrapper{
    text-align: center;
}
.libro-img-wrapp{
    position: relative;
}
/*IMPORTANTE: CAMBIAR TAMAÑO MINIMO*/
/*
Para cambiar el tamaño mínimo se debe cambiar en
libro-inner el min-width a lo que se quiera, "X"
Y en libro-img la mitad de ese valor "X/2"
*/
.libro-inner {
    height: 38vw;
    min-height: 220px;
    width: 90%;
    min-width: 500px;
    display: inline-block;
    padding: 17px 37px;
    margin: 9px;
    text-align: right;
    /* border: 2px solid #ce870c; */
    position: relative;
    border-radius: 15px;
}
.texto-agregar{
    font-family: "itckrist";
}
.libro-pagina{
    position: relative;
    transform-style: preserve-3d;
    text-align: center;
    transform-origin: top left;
    max-width: 31vw;
    left: 285px;
    pointer-events: none;
}
.libro-hoja{
    position: absolute;
    top: 0;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden;
}
.libro-pagina .hoja-adelante{
    -webkit-transform: rotateY( 0deg );
    z-index: 5;
}
.libro-pagina .hoja-atras{
    -webkit-transform: rotateY( -180deg );
    z-index: 4;
}
.libro-img{
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 250px;
}
.libro-img-atras{
    position: absolute;
    z-index: 0;
    min-width: 0;
}
.libro-img-ade{
    position: absolute;
    z-index: 5;
    min-width: 0;
}
/*CROPPIE*/
/*END CROPPIE*/

#imga-0-1{
    width: 16.1%;
    left: 36.2%;
    z-index: 0;
    top: 40.3%;
    transform: rotateZ(-12deg);
}
#imga-1-1{
    width: 13%;
    left: 23%;
    top: 33%;
    transform: rotateZ(-13deg);
}
#imga-2-1{
    width: 37%;
    left: 32%;
    top: 18%;
}
#imga-3-1{
    width: 42%;
    left: 26%;
    top: 20%;
}
#imga-4-1{
    width: 16.9%;
    left: 63.8%;
    top: 33.4%;
    transform: rotateZ(-2deg);
}
#imga-5-1{
    width: 14.8%;
    left: 30.5%;
    top: 36.5%;
    transform: rotateZ(0deg);
}
#imga-5-2{
    width: 14.4%;
    left: 50.9%;
    top: 36%;
    transform: rotateZ(0deg);
}
#imga-6-1{
    width: 16.9%;
    left: 21%;
    top: 25.6%;
    transform: rotateZ(-2deg);
}
#imga-7-1{
    width: 16.9%;
    left: 22.0%;
    top: 32%;
    transform: rotateZ(-6deg);
}
#imga-8-1{
    width: 16.9%;
    left: 38.5%;
    top: 17.8%;
    transform: rotateZ(-7deg);
}
#imga-9-1{
    width: 15.8%;
    left: 23.7%;
    top: 13%;
    transform: rotateZ(-5deg);
}
#imga-10-1{
    width: 11.2%;
    left: 14.7%;
    top: 27.1%;
    transform: rotateZ(-12deg);
}
#imga-11-1{
    width: 13.6%;
    left: 44.4%;
    top: 31.1%;
    transform: rotateZ(4deg);
}
#imga-11-2{
    width: 11.2%;
    left: 63.8%;
    top: 36.1%;
    transform: rotateZ(-2deg);
}
#imga-11-3{
    width: 12.9%;
    left: 77.4%;
    top: 33%;
    transform: rotateZ(-2deg);
}
.recorte-2-cuadtra{
    width: 520px;
    height: 660px;
    position: absolute;
    border: 60px solid rgb(248, 211, 182);
    content: " ";
    z-index: 5;
    left: 39px;
    top: 30px;
    pointer-events: none;
}
.recorte-3-cuadtra{
    width: 520px;
    height: 660px;
    position: absolute;
    border-left: 55px solid rgb(248, 211, 182);
    border-right: 55px solid rgb(248, 211, 182);
    border-top: 35px solid rgb(248, 211, 182);
    border-bottom: 35px solid rgb(248, 211, 182);
    content: " ";
    z-index: 5;
    left: 39px;
    top: 30px;
    pointer-events: none;
}
.texto-agregar{
    min-width: 0;
    position: absolute;
    font-size: 0.85vw !important;
    z-index: 3;
    color: rgb(79, 0, 0);
    -webkit-text-stroke: 1px rgba(255,255,255,0.2)
}
.first-letter{
    font-size: 2vw;
    line-height: 2.3vw;
    float: left;
}


/*LETRAS*/
#p1-1{
    width: 100%;
    top: 21%;
    left: -19%;
    font-size: 2.0vw !important;
    text-align: center;
    font-family: "holaHolo";
    line-height: 2.6vw !important;
    -webkit-text-stroke: 1px rgba(255,255,255,1);
}
#p1-1-ing{
    width: 100%;
    top: 13%;
    left: 11%;
    font-size: 2.0vw !important;
    text-align: left;
    font-family: "holaHolo";
    line-height: 2.6vw !important;
    -webkit-text-stroke: 1px rgba(255,255,255,1);
}
#p1-2{
    width: 100%;
    top: 33%;
    left: 0%;
    font-size: 1.9vw !important;
    text-align: center;
    font-family: "holaHolo";
    -webkit-text-stroke: 1px rgba(255,255,255,1);
    line-height: 2.6vw;
}
#p1-2-ing{
    width: 100%;
    top: 26%;
    left: 0%;
    font-size: 1.8vw !important;
    text-align: center;
    font-family: "holaHolo";
    -webkit-text-stroke: 1px rgba(255,255,255,1);
    line-height: 2.6vw;
}
#p1-3-ing{
    width: 100%;
    top: 55%;
    left: 0%;
    font-size: 1.2vw !important;
    text-align: center;
    font-family: "holaHolo";
    line-height: 2.0vw;
}
#p2-01{
    width: 70%;
    top: 70%;
    margin: 0 auto;
    font-size: 1.0vw;
    text-align: center;
}
#p2-0-1{
    width: 70%;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    font-size: 1.0vw;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    padding: 5px;
}
#p3-1{
    width: 70%;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    font-size: 1.0vw;
    text-align: center;
}
#p3-1-1{
    width: 70%;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    font-size: 1.0vw;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    padding: 5px;
}

#p4-1{
    width: 100%;
    top: 9%;
    margin: 0 auto;
    font-size: 1.0vw;
    text-align: center;
}
#p4-1-1{
    width: 79%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);
    padding: 5px;
}
#p4-2{
    width: 100%;
    top: 9%;
    margin: 0 auto;
    text-align: center;
    -webkit-text-stroke: inherit;
}
#p4-2-1{
    width: 69%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);
    padding: 5px;
}
#p5-1{
    width: 100%;
    top: 73%;
    margin: 0 auto;
    text-align: left;
}
#p5-1-1{
    width: 54%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p5-2{
    width: 87%;
    top: 5%;
    margin: 0 auto;
    text-align: left;
}
#p5-2-1{
    width: 67%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p5-3{
    width: 141%;
    top: 60%;
    margin: 0 auto;
    text-align: left;
}
#p5-3-1{
    width: 22%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p6-1{
    width: 128%;
    top: 73%;
    margin: 0 auto;
    text-align: left;
}
#p6-1-1{
    width: 30%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p6-2{
    width: 100%;
    top: 66%;
    margin: 0 auto;
    text-align: center;
}
#p6-2-1{
    width: 69%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p7-1{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p7-1-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p7-2{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p7-2-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p8-1{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p8-1-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p8-2{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p8-2-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p8-3{
    width: 32%;
    top: 53%;
    left: 8%;
    margin: 0 auto;
    text-align: center;
}
#p8-3-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}


#p9-1{
    width: 32%;
    top: 5%;
    left: 65%;
    margin: 0 auto;
    text-align: center;
}
#p9-1-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p9-2{
    width: 100%;
    top: 73%;
    margin: 0 auto;
    text-align: center;
}
#p9-2-1{
    width: 69%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p9-3{
    width: 73%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p9-3-1{
    width: 68%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p9-4{
    width: 100%;
    top: 78%;
    margin: 0 auto;
    text-align: center;
}
#p9-4-1{
    width: 84%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p10-1{
    width: 100%;
    top: 71%;
    margin: 0 auto;
    text-align: center;
}
#p10-1-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p10-2{
    width: 65%;
    top: 12%;
    margin: 0 auto;
    text-align: center;
}
#p10-2-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p11-1{
    width: 100%;
    top: 5%;
    margin: 0 auto;
    text-align: center;
}
#p11-1-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    font-size: inherit;
}
#p11-2{
    width: 68%;
    left: 31%;
    top: 66%;
    margin: 0 auto;
    text-align: center;
}
#p11-2-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p11-3{
    width: 100%;
    top: 74%;
    margin: 0 auto;
    text-align: center;
}
#p11-3-1{
    width: 85%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p12-1{
    width: 69%;
    top: 4%;
    margin: 0 auto;
    text-align: center;
}
#p12-1-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p12-2{
    width: 41%;
    top: 8%;
    margin: 0 auto;
    text-align: center;
}
#p12-2-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p13-1{
    width: 100%;
    top: 5%;
    margin: 0 auto;
    text-align: center;
}
#p13-1-1{
    width: 83%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p13-2{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p13-2-1{
    width: 88%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p14-1{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p14-1-1{
    width: 76%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p14-2{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p14-2-1{
    width: 93%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p14-3{
    width: 67%;
    top: 21%;
    margin: 0 auto;
    text-align: center;
}
#p14-3-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p14-4{
    width: 74%;
    left: 31%;
    top: 71%;
    margin: 0 auto;
    text-align: center;
}
#p14-4-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p15-1{
    width: 100%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p15-1-1{
    width: 87%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p15-2{
    width: 67%;
    left: 36%;
    top: 45%;
    margin: 0 auto;
    text-align: center;
}
#p15-2-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p15-3{
    width: 100%;
    top: 73%;
    margin: 0 auto;
    text-align: center;
}
#p15-3-1{
    width: 81%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p15-4{
    width: 64%;
    left: 36%;
    top: 3%;
    margin: 0 auto;
    text-align: center;
}
#p15-4-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p15-5{
    width: 100%;
    top: 76%;
    margin: 0 auto;
    text-align: center;
}
#p15-5-1{
    width: 57%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p16-1{
    width: 100%;
    top: 71%;
    margin: 0 auto;
    text-align: center;
}
#p16-1-1{
    width: 47%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p16-2{
    width: 88%;
    top: 45%;
    margin: 0 auto;
    text-align: center;
}
#p16-2-1{
    width: 75%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p17-1{
    width: 100%;
    top: 54%;
    margin: 0 auto;
    text-align: center;
}
#p17-1-1{
    width: 66%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p17-2{
    width: 53%;
    top: 5%;
    margin: 0 auto;
    text-align: center;
}
#p17-2-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p17-3{
    width: 95%;
    top: 69%;
    left: 11%;
    margin: 0 auto;
    text-align: center;
}
#p17-3-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p18-1{
    width: 83%;
    left: 22%;
    top: 5%;
    margin: 0 auto;
    text-align: center;
}
#p18-1-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p18-2{
    width: 100%;
    top: 75%;
    margin: 0 auto;
    text-align: center;
}
#p18-2-1{
    width: 76%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p18-3{
    width: 79%;
    top: 4%;
    margin: 0 auto;
    text-align: center;
}
#p18-3-1{
    width: 70%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p19-1{
    width: 100%;
    top: 75%;
    margin: 0 auto;
    text-align: center;
}
#p19-1-1{
    width: 61%;
    margin: 0 auto;
    margin-top: 1.2vw;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
}
#p19-2{
    width: 100%;
    top: 7%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2vw !important;
    color: #000;
}
#p19-2-1{
    width: 61%;
    margin: 0 auto;
    margin-top: 1.2vw;
    padding: 5px;
}
#p20-1{
    width: 100%;
    top: 67%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.63vw !important;
    color: #f3f0e4;
    -webkit-text-stroke: initial;
    font-family: holaholo;
}
.pagina-volteada{
    animation-name: spinner;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards
}
.pagina-regresada{
    animation-name: reverse-spinner;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards
}
.pagina-activa-derecha{
    z-index: 4;
    pointer-events: inherit;
}
.pagina-activa-izquierda{
    z-index: 3;
    pointer-events: inherit;
}
.pagina-siguiente{
    z-index: 2;
}
.cr-image{
    max-width: inherit !important;
}
/*END VISUALIZADOR DE LIBRO*/

/*LIBRO 2*/
/*
.imgcrp-nino {
    height: 403px;
    top: 18px;
    left: 5px;
}
#image_demo{
    margin-top: 30px !important;
}
.img-cropp-imgdel img {
    width: 290px;
}
.imgcrp-madre {
    top: 42px;
    left: -7px;
}
.imgcrp-padre {
    height: 319px;
    top: 26px;
    left: 5px;
}
.imgcrp-madre img{
    width: 218px;
}
.imgcrp-padre img{
    width: 240px;
}
*/
#imga-retra-nin{
    width: 44%;
    left: 13%;
    top: 58.3%;
}
#imga-0-1 {
    width: 23.1%;
    left: 62.2%;
    z-index: 0;
    top: 28.6%;
    transform: rotateZ(0deg);
}
#imga-3-2 {
    width: 23.1%;
    left: 72.4%;
    z-index: 0;
    top: 68.3%;
    transform: rotateZ(0deg);
}
#imga-4-2{
    width: 23.5%;
    left: 26.8%;
    top: 52.2%;
    transform: rotateZ(12deg);
}
#imga-6-1{
    width: 33.3%;
    left: 9.9%;
    top: 45.5%;
    transform: rotateZ(2deg);
}
#imga-6-2{
    width: 22.6%;
    left: 8.3%;
    top: 29.2%;
    transform: rotateZ(5deg);
}
#imga-7-1{
    width: 33.4%;
    left: 23.3%;
    top: 26.5%;
    transform: rotateZ(2deg);
}
#imga-7-2{
    width: 34.4%;
    left: 24.6%;
    top: 29.3%;
    transform: rotateZ(1deg);
}
#imga-8-2{
    width: 33.3%;
    left: 53.7%;
    top: 35.7%;
    transform: rotateZ(2deg);
}
#imga-10-1{
    width: 35.2%;
    left: 48.8%;
    top: 25.8%;
    transform: rotateZ(4deg);
}
#imga-10-2{
    width: 17.1%;
    left: 80.7%;
    top: 21.1%;
    transform: rotateZ(-17deg);
}
#imga-11-2{
    width: 17.3%;
    left: 32.7%;
    top: 11.4%;
    transform: rotateZ(3deg);
}
#imga-12-2{
    width: 27.3%;
    left: 32.5%;
    top: 57.9%;
    transform: rotateZ(3deg);
}
#imga-13-2{
    width: 32.9%;
    left: 23.5%;
    top: 33.8%;
    transform: rotateZ(2deg);
}
#imga-14-1{
    width: 33.1%;
    left: 55.9%;
    top: 23.8%;
    transform: rotateZ(0deg);
}
#imga-14-2{
    width: 31.5%;
    left: 10.8%;
    top: 54.2%;
    transform: rotateZ(-21deg);
}
#imga-14-3{
    width: 18.5%;
    left: 73.8%;
    top: 42.3%;
    transform: rotateZ(3deg);
}
#imga-15-2{
    width: 34.8%;
    left: 64.6%;
    top: 40.8%;
    transform: rotateZ(-11deg);
}
#imga-16-2{
    width: 11.8%;
    left: 81.4%;
    top: 43.7%;
    transform: rotateZ(-19deg);
}
#imga-17-2{
    width: 23.3%;
    left: 12.8%;
    top: 40.1%;
    transform: rotateZ(1deg);
}
#imga-18-1{
    width: 29.3%;
    left: 61.9%;
    top: 38.3%;
    transform: rotateZ(15deg);
}
#imga-18-2{
    width: 32.6%;
    left: 17.6%;
    top: 33.0%;
    transform: rotateZ(2deg);
}
#imga-19-1{
    width: 30.4%;
    left: 31.8%;
    top: 48.7%;
    transform: rotateZ(1deg);
}
#imga-3-m{
    width: 22.7%;
    left: 51.9%;
    top: 41.9%;
    transform: rotateZ(2deg);
}
#imga-5-m{
    width: 32.7%;
    left: 37.4%;
    top: 33.9%;
    transform: rotateZ(-3deg);
}
#imga-19-m{
    width: 27.6%;
    left: 1.1%;
    top: 20.8%;
    transform: rotateZ(0deg);
}
#imga-3-p{
    width: 17.6%;
    left: 33.7%;
    top: 33.1%;
    transform: rotateZ(2deg);
}
#imga-5-p{
    width: 25.2%;
    left: 14.2%;
    top: 20.0%;
    transform: rotateZ(5deg);
}
#imga-18-p{
    width: 16.9%;
    left: 77.3%;
    top: 11.1%;
    transform: rotateZ(-2deg);
}

@media (max-width: 806px){
    #p1-1,#p1-1-ing {
        font-size: 15.21px !important;
        -webkit-text-stroke: inherit !important;
        line-height: 17.21px !important;
    }
    #p1-2, #p1-2-ing {
        font-size: 15.21px !important;
        -webkit-text-stroke: inherit !important;
        line-height: 17.21px !important;
    }
    .texto-agregar, #p3-1-1, #p2-0-1{
         font-size: 6.86px !important;
     }
    #p1-3-ing{
         font-size: 7.86px !important;
     }
}