@font-face {
    font-family: "itckrist";
    src: url("../fonts/ITCKRIST.TTF");
}
@font-face {
    font-family: "skater";
    src: url("../fonts/Skater Girls Rock.ttf");
}

/*THUMBNAILS VISUALIZADOR DE LIBRO*/
.thumbs-wrapper{
    text-align: center;
    padding: 10px;
}
.thumb-wrapp{
    cursor: default;
    display: inline-block;
    padding: 2px;
    position: relative;
}
.thumb-wrapp .thumb-img-wrapp, .thumb-wrapp .thumb-imgselo-wrapp{
    cursor: pointer;
    border: 2px solid rgba(255,255,255,0);
    border-radius: 8px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    width: 39px;
    display: block;
    margin: 0 auto;
}
.thumb-wrapp .thumb-img-wrapp:hover{
    border: 2px solid rgba(0,128,0,0.5);
}
.thumb-wrapp .thumb-imgselo-wrapp:hover{
    border: 2px solid rgba(51,122,183,1);
}
.thumb-wrapp:hover .thumb-img-others{
    display: inherit;
}
.thumb-img-wrappselect{
    border: 2px solid rgba(0,128,0,1) !important;
}
.thumb-letra{
    font-size: 16px;
}
.thumb-img{
    width: 35px;
}
.thumb-imgo-head{
    text-transform: uppercase;
     font-weight: bold;
    color: rgba(0,128,0,1);
}
.thumb-imgselo{
    width: 35px;
}
.thumb-img-others{
    display: none;
    position: absolute;
    top: 75px;
    left: -45px;
    right: -45px;
    background-color: #eee;
    border-radius: 8px;
    z-index: 5;
    padding: 5px;
    
}
.thumb-img-others:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #eee;
	border-top: 0;
	margin-left: -20px;
	margin-top: -13px;
}
.thumb-imgob-wrpp{
    text-align: center;
}
/*END THUNBNAILS VISUALIZADOR DE LIBRO*/

/*VISUALIZADOR DE LIBRO*/
.libro-estado-wrapp{
    text-align: center;
    font-size: 2vw;
    text-align: center;
    font-family: "skater";
    color: rgb(119,64,153);
    width: 100vw;
}



.libro-wrapper{
    text-align: center;
}
.libro-img-wrapp{
    position: relative;
}
/*IMPORTANTE: CAMBIAR TAMAÑO MINIMO*/
/*
Para cambiar el tamaño mínimo se debe cambiar en
libro-inner el min-width a lo que se quiera, "X"
Y en libro-img la mitad de ese valor "X/2"
*/
.libro-inner {
    height: 31vw;
    min-height: 220px;
    width: 90%;
    min-width: 500px;
    display: inline-block;
    padding: 17px 37px;
    margin: 9px;
    text-align: right;
    /* border: 2px solid #ce870c; */
    position: relative;
    border-radius: 15px;
}
.texto-agregar{
    font-family: "itckrist";
}
.libro-pagina{
    position: relative;
    transform-style: preserve-3d;
    text-align: center;
    transform-origin: top left;
    max-width: 31vw;
    left: 285px;
}
.libro-hoja{
    position: absolute;
    top: 0;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden;
}
.libro-pagina .hoja-adelante{
    transform: rotateY( 0deg );
    z-index: 5;
}
.libro-pagina .hoja-atras{
    transform: rotateY( 180deg );
    z-index: 4;
}
.libro-img{
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 250px;
}
.libro-img-atras{
    position: absolute;
    z-index: 0;
    min-width: 0;
}
.libro-img-ade{
    position: absolute;
    z-index: 5;
    min-width: 0;
}
/*CROPPIE*/

.cropp-wrapp-rosa .croppie-container .cr-viewport, .cropp-wrapp-rosa .croppie-container .cr-resizer{
    box-shadow: 0 0 2000px 2000px rgb(248, 211, 182);
}
/*
#image_demo{
    margin-top: 40px !important;
}
*/
/*END CROPPIE*/

#imga-0-1{
    width: 17.1%;
    left: 44.1%;
    z-index: 0;
    top: 40.7%;
    transform: rotateZ(-7deg);
}
#imga-0-1-ing{
    width: 16.5%;
    left: 39.6%;
    z-index: 0;
    top: 39.7%;
    transform: rotateZ(-7deg);
}
#imga-1-1{
    width: 13%;
    left: 23%;
    top: 33%;
    transform: rotateZ(-13deg);
}
#imga-2-1{
    width: 37%;
    left: 32%;
    top: 18%;
}
#imga-3-1{
    width: 42%;
    left: 26%;
    top: 20%;
}
#imga-4-1{
    width: 16%;
    left: 62.4%;
    top: 32.4%;
    transform: rotateZ(-5deg);
}
#imga-5-1{
    width: 14.7%;
    left: 30.5%;
    top: 36.6%;
    transform: rotateZ(0deg);
}
#imga-5-2{
    width: 14.4%;
    left: 50.9%;
    top: 35.9%;
    transform: rotateZ(0deg);
}
#imga-6-1{
    width: 15.8%;
    left: 24%;
    top: 25.3%;
    transform: rotateZ(3deg);
}
#imga-7-1{
    width: 15.8%;
    left: 22.2%;
    top: 32.2%;
    transform: rotateZ(0deg);
}
#imga-8-1{
    width: 15.9%;
    left: 39%;
    top: 19.6%;
    transform: rotateZ(-11deg);
}
#imga-9-1{
    width: 15.9%;
    left: 23.7%;
    top: 13.2%;
    transform: rotateZ(-7deg);
}
#imga-10-1{
    width: 11%;
    left: 13.5%;
    top: 27.4%;
    transform: rotateZ(-11deg);
}
#imga-11-1{
    width: 13.2%;
    left: 44.8%;
    top: 32%;
    transform: rotateZ(4deg);
}
#imga-11-2{
    width: 11%;
    left: 62.9%;
    top: 37.2%;
    transform: rotateZ(-7deg);
}
#imga-11-3{
    width: 12.8%;
    left: 77.5%;
    top: 33.6%;
    transform: rotateZ(-4deg);
}
.recorte-2-cuadtra{
    width: 520px;
    height: 660px;
    position: absolute;
    border: 60px solid rgb(248, 211, 182);
    content: " ";
    z-index: 5;
    left: 39px;
    top: 30px;
    pointer-events: none;
}
.recorte-3-cuadtra{
    width: 520px;
    height: 660px;
    position: absolute;
    border-left: 55px solid rgb(248, 211, 182);
    border-right: 55px solid rgb(248, 211, 182);
    border-top: 35px solid rgb(248, 211, 182);
    border-bottom: 35px solid rgb(248, 211, 182);
    content: " ";
    z-index: 5;
    left: 39px;
    top: 30px;
    pointer-events: none;
}
.texto-agregar{
    min-width: 0;
    position: absolute;
    font-size: 0.85vw;
    z-index: 3;
}
.first-letter{
    font-size: 2vw;
    line-height: 2.3vw;
    float: left;
}
#p1-1{
    width: 100%;
    top: 18%;
    font-size: 3vw;
    text-align: center;
    font-family: "skater";
    color: rgb(119,64,153);
}
#p1-1-ing{
    width: 100%;
    top: 6%;
    font-size: 3.4vw;
    text-align: center;
    font-family: "skater";
    color: rgb(119,64,153);
}
#p1-1-2{
    
}
#p1-2{
    width: 54%;
    left: 16%;
    top: 32%;
}
#p2-0{
    width: 100%;
    top: 42%;
    margin: 0 auto;
    text-align: center;
}
#p2-01{
    width: 95%;
    top: 42%;
    margin: 0 auto;
    text-align: center;
}
#p2-0-1{
    width: 75%;
    margin: 0 auto;
}
#p2-1{
    width: 100%;
    top: 84%;
    margin: 0 auto;
    text-align: center;
}
#p2-1-1{
    width: 75%;
    margin: 0 auto;
}
#p2-2{
    width: 100%;
    top: 18%;
    font-size: 1.2vw;
    margin: 0 auto;
    text-align: center;
}
#p2-3{
    width: 100%;
    top: 24%;
    margin: 0 auto;
    text-align: center;
}
#p2-3-1{
    width: 41%;
    margin: 0 auto;
}
#p3-1{
    width: 100%;
    top: 8%;
    margin: 0 auto;
    text-align: left;
}
#p3-1-1{
    width: 68%;
    margin: 0 auto;
}
#p4-1{
    width: 100%;
    top: 52%;
    margin: 0 auto;
    text-align: left;
}
#p4-1-1{
    width: 73%;
    margin: 0 auto;
}
#p5-1{
    width: 100%;
    top: 9%;
    margin: 0 auto;
    text-align: left;
}
#p5-1-1{
    width: 69%;
    margin: 0 auto;
}
#p5-1-2{
    width: 69%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p6-1{
    width: 100%;
    top: 9%;
    margin: 0 auto;
    text-align: left;
}
#p6-1-1{
    width: 72%;
    margin: 0 auto;
}
#p6-1-2{
    width: 72%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p6-1-3{
    width: 72%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p7-1{
    width: 100%;
    top: 40%;
    margin: 0 auto;
    text-align: left;
    color: #fff;
}
#p7-1-1{
    width: 72%;
    margin: 0 auto;
}
#p7-1-2{
    width: 72%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p7-1-3{
    width: 72%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p7-1-4{
    width: 72%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p8-1{
    width: 100%;
    top: 33%;
    margin: 0 auto;
    text-align: left;
    color: #fff;
}
#p8-1-1{
    width: 68%;
    margin: 0 auto;
}
#p8-1-2{
    width: 68%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p8-1-3{
    width: 68%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p8-1-4{
    width: 68%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p9-1{
    width: 100%;
    top: 10%;
    margin: 0 auto;
    text-align: left;
}
#p9-1-1{
    width: 69%;
    margin: 0 auto;
}
#p9-1-2{
    width: 69%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p9-1-3{
    width: 69%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p10-1{
    width: 100%;
    top: 10%;
    margin: 0 auto;
    text-align: left;
}
#p10-1-1{
    width: 69%;
    margin: 0 auto;
}
#p10-1-2{
    width: 69%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p10-1-3{
    width: 69%;
    margin: 0 auto;
    margin-top: 1.2vw;
}
#p12-1{
    width: 100%;
    top: 63.7%;
    text-align: center;
    color: rgb(119,64,153);
}
.pagina-volteada{
    animation-name: spinner;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards
}
.pagina-regresada{
    animation-name: reverse-spinner;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards
}
.pagina-activa-derecha{
    z-index: 4;
}
.pagina-activa-izquierda{
    z-index: 3;
    display: block;
}
.pagina-siguiente{
    z-index: 2;
}
.cr-image{
    max-width: inherit !important;
}
/*END VISUALIZADOR DE LIBRO*/
